h1 {
    color:blue;
}

body {
    


.firstparagraph {
    background-color: green; 
    font-family: Arial, Helvetica, sans-serif; color: purple; padding: 25px;
}

.list{
    border: 2px solid orange;
    padding: 18px;
    color: red;
}

} 
