h1 {
    color: purple;
}

body {
    


.firstparagraph {
    background-color: green; 
    font-family: Arial, Helvetica, sans-serif; color: purple; font-size: 25px;
}

.list{
    border: 2px solid orange;
    font-size: 18px;
    color: red;
    
}
.inline { 
    color:purple !important;

}
.headerTwo {
   color: brown;
    border: 10px solid blue;
    background-color: pink;
}


} 